@font-face {
    font-family: 'radiolandregular';
    src: url('font/radioland-webfont.eot');
    src: url('font/radioland-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/radioland-webfont.woff') format('woff'),
         url('font/radioland-webfont.ttf') format('truetype'),
         url('font/radioland-webfont.svg#radiolandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#game{
	width:800px;
	height:600px;
	background-color:#85C6FF;
	margin-left:auto;
	margin-right:auto;
	position: relative;
}

#board{
	position: absolute;
	width:300px;
	height:202px;
	left:75px;
	top:300px;
	background-image:url('img/board.png');
	background-repeat:no-repeat;
}

#plate{
	position: absolute;
	width:300px;
	height:167px;
	left:475px;
	top:300px;
	background-image:url('img/plate.png');
	background-repeat:no-repeat;
}

#rice{
	position: absolute;
	width:100px;
	height:68px;
	left:175px;
	top:340px;
	background-image:url('img/rice.png');
	background-repeat:no-repeat;
}

#fish{
	position: absolute;
	width:100px;
	height:68px;
	left:175px;
	top:340px;
	background-image:url('img/fish.png');
	background-repeat:no-repeat;
}

#sushi{
	position: absolute;
	width:100px;
	height:68px;
	
	background-image:url('img/sushi.png');
	background-repeat:no-repeat;
}


#bite0{
	position: absolute;
	width:100px;
	height:68px;
	left:50px;
	top:0px;
	background-image:url('img/bite0.png');
	background-repeat:no-repeat;
}

#bite1{
	position: absolute;
	width:100px;
	height:68px;
	left:100px;
	top:0px;
	background-image:url('img/bite1.png');
	background-repeat:no-repeat;
}

#stack{
	position: absolute;
	width:100px;
	height:68px;
	left:450px;
	top:400px;
}

#nomnom{
	position: absolute;
	width: 100 px;
	height: 68 px;
	left: 625 px;
	top: 350 px;
	background: #808080;
}

#begincountdown{
	font-family:"radiolandregular";
	position: absolute;
	width:100px;
	height:100px;
	top:150px;
	left: 350px;
	font-size: 4em;
	font-align: center;
}

#countdown{
	font-family:"radiolandregular";
	position: absolute;
	width:100px;
	height:100px;
	left:350px;
	top: 0px;
	font-size: 4em;
	font-align: center;
}


#dialog{
	font-family:"radiolandregular";
	position: absolute;
	width:600px;
	height:200px;
	left: 100px;
	top: 75px;
	background-color: #fff;
	z-index: 3;
	border: black 3px solid;
	text-align: center;
	font-size: 3em;
}

.hide{
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}

.absolute{
	position: absolute; 
}

.relative{
	position: relative; 
}

.inline{
	display: block; 
}